<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="/"><img src="/assets/images/webpagelogo.png" style="width:40px" ></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">HOME</a></li>
          <li><a href="#band">DOCUMENTATION</a></li>
          <li><a href="#tour">NEW SOURCE</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/">Login</a></li>
              <li><a href="/">Register</a></li>
              <li><a href="/">Share</a></li> 
            </ul>
          </li>
          <li><a href="/"><span class="glyphicon glyphicon-search"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://imagesmtv-a.akamaihd.net/uri/mgid:ao:image:mtv.com:255306?quality=0.8&format=jpg&width=1440&height=810&.jpg" alt="New York" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Hilary Hughes</h3>
          <p>Dylan Sprouse Is The Scariest Over-Achiever Ever In The Dismissed Trailer.</p>
        </div>      
      </div>

      <div class="item">
        <img src="https://imagesmtv-a.akamaihd.net/uri/mgid:ao:image:mtv.com:255394?quality=0.8&format=jpg&width=1440&height=810&.jpg" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Patrick Hosken</h3>
          <p>Chance The Rapper Will Host Saturday Night Live With An Iconic Musical Guest.</p>
        </div>      
      </div>
    
      <div class="item">
        <img src="https://imagesmtv-a.akamaihd.net/uri/mgid:ao:image:mtv.com:255245?quality=0.8&format=jpg&width=1440&height=810&.jpg" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Madeline Roth</h3>
          <p>The 9 Juiciest Fan Theories About Taylor Swift’s ‘…Ready For It?’!</p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>