<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Footer -->
<footer class="text-center">
    <a class="up-arrow" href="/" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <br>
    <br>
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <ul class="list-inline">
                    <li class="list-inline-option">
                        <a href="" [routerLink]="['/team']">Our Team</a>
                    </li>
                    <li class="list-inline-option">
                        <a href="" [routerLink]="['/aboutus']">About Us</a>
                    </li>
                    <li class="list-inline-option">
                        <a href="" [routerLink]="['/contact']">Contact</a>
                    </li>
                </ul>
                <div class="footer-col">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a title="Facebook" class="btn-social btn-outline btn-facebook" href="#">
                                <i class="fa fa-fw fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a title="LinkedIn" class="btn-social btn-outline btn-linkedin" href="#">
                                <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a title="Twitter" class="btn-social btn-outline btn-twitter" href="#">
                                <i class="fa fa-fw fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a title="Youtube" class="btn-social btn-outline btn-youtube" href="#">
                                <i class="fa fa-fw fa-youtube" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cci-text-white text-to-top">
                <p>Copyright ©
                    <a href="/">News API</a> 2017.</p>
            </div>
        </div>
    </div>
</footer>